* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  margin: 16px 120px;
}
.nav-container .nav-text {
  display: flex;
  gap: 32px;
  align-items: center;
  font-weight: 500;
}
.nav-container .nav-img {
  width: 139px;
}
.green-btn {
  padding: 12.5px 16px;
  background-color: #30b868;
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 24;
  margin-bottom: 24;
}
