* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  margin: 16px 120px;
}
.nav-container .nav-text {
  display: flex;
  gap: 32px;
  align-items: center;
  font-weight: 500;
}
.nav-container .nav-img {
  width: 139px;
}
.green-btn {
  padding: 12.5px 16px;
  background-color: #30b868;
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.hero {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 674px;
}
.hero-container {
  max-width: 770px;
  text-align: center;
}
.hero .early-access-button {
  display: flex;
  justify-content: center;
}
.hero .early-btn {
  color: #30b868;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: 500;
}
.hero .hero-text-header {
  margin-bottom: 16px;
  margin-top: 16px;
}
.hero .hero-text #structured {
  font-size: 72px;
  font-weight: bold;
  color: white;
  line-height: 84px;
  text-shadow: 2px 2px 10px #000000;
}
.hero .hero-text #note {
  font-size: 72px;
  font-weight: bold;
  color: #30b868;
  line-height: 84px;
  text-shadow: 2px 2px 10px #000000;
}
.hero .hero-text p {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin-bottom: 32px;
  max-width: 700px;
}

.hero .hero-buttons .transparent-btn {
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 12.5px 16px;
  border-radius: 5px;
  margin-left: 7px;
}
