* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  margin: 16px 120px;
}
.nav-container .nav-text {
  display: flex;
  gap: 32px;
  align-items: center;
  font-weight: 500;
}
.nav-container .nav-img {
  width: 139px;
}
.green-btn {
  padding: 16px 16.5px;
  background-color: #30b868;
  border: none;
  color: white;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 5px;
}

.hero {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 674px;
}
.hero-container {
  max-width: 770px;
  text-align: center;
}
.hero .early-access-button {
  display: flex;
  justify-content: center;
}
.hero .early-btn {
  color: #30b868;
  border-radius: 20px;
  padding: 8px 12px;
  font-weight: 500;
}
.hero .hero-text-header {
  margin-bottom: 16px;
  margin-top: 16px;
}
.hero .hero-text #structured {
  font-size: 72px;
  font-weight: bold;
  color: white;
  line-height: 84px;
  text-shadow: 2px 2px 10px #000000;
}
.hero .hero-text #note {
  font-size: 72px;
  font-weight: bold;
  color: #30b868;
  line-height: 84px;
  text-shadow: 2px 2px 10px #000000;
}
.hero .hero-text p {
  font-size: 18px;
  line-height: 30px;
  color: white;
  margin-bottom: 32px;
  max-width: 700px;
}

.hero .hero-buttons .transparent-btn {
  background-color: transparent;
  border-color: white;
  color: white;
  padding: 12.5px 16px;
  border-radius: 5px;
  margin-left: 7px;
}
.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 770px;
  margin-top: 45px;
}
.note .note-header h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  margin-bottom: 16px;
}
.note .note-header p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}
.note .note-card-container {
  margin-top: 44px;
  margin-left: 120px;
  margin-right: 120px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.note .note-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 320px;
  height: 295px;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.139);
}
.note .note-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-bottom: 16px;
}
.note .note-card p {
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
.note .note-card img {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  background-color: #f95555;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 24px;
}
.solution {
  margin: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.solution .solution-container {
  display: flex;
  justify-content: space-between;
}
.solution-container .solution-text {
  margin-top: 102px;
  margin-bottom: 102px;
  margin-left: 60px;
}
.solution-text-upper h6 {
  font-weight: 500;
  color: #30b868;
  margin-bottom: 16px;
  font-size: 16px;
  max-width: 700px;
}
.solution-text-upper h2 {
  font-weight: bold;
  color: #001931;
  font-size: 48px;
  line-height: auto;
}
.solution-text-upper p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.solution-text-lower {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}
.challenge-container {
  background-color: #f7f6f2;
  margin: 0 auto;
  text-align: center;
  max-width: 1360px;
}
.challenge-header h2 {
  font-size: 48px;
  font-weight: bold;
  padding-top: 80px;
  margin-bottom: 16px;
}
.challenge-text p {
  line-height: 24px;
  font-size: 16px;
  color: #627382;
}
.challenge-text-last p {
  margin-bottom: 80px;
}
